:root {
  --primary: #1f35d4;
  --primary-hover: #4358f4;
  --primary-fade: #e5e8fe;
  --accent: #e160e4;
  --accent-hover: #ea6eec;
  --disabled-text: #c3c8e9;
  --disabled-bg: #f2f2f2;
  --light: #fff;
  --text-color: #1c1c1c;
  --radius: 4px;
  --star-size: 12px;
  --star-color: var(--light);
  --star-background: #FFC36D;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a:focus-visible,
button:focus-visible {
  color: #1b1b1b;
  outline: 3px solid var(--accent);
  outline-offset: 3px;
}

body {
  font-family: 'Boston', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 1.3;
  margin: 0;
  letter-spacing: .02em;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  ;
}

button {
  font: inherit;
  line-height: normal;
  overflow: visible;
  width: auto;
  margin: 0;
  padding: 0;
  color: inherit;
  border: none;
  background: transparent;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.btn {
  position: relative;
  display: inline-flex;
  font-family: inherit;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 15px 13px;
  cursor: pointer;
  transition: all .5s;
  color: #fff;
  border-radius: 4px;
  background-color: var(--primary);

  &:hover {
    background-color: var(--primary-hover);
  }

  &:after {
    content: '';
    position: absolute;
    z-index: 0;
    left: 50%;
    width: 77px;
    height: 77px;
    transition: transform .2s;
    transform: scale(0);
    border-radius: 50%;
    background-color: rgba(#fff, .2);
  }

  &:active {
    &:after {
      transform: scale(1);
    }
  }

  &:disabled {
    pointer-events: none;
    color: var(--disabled-text);
    background: var(--disabled-bg);
  }
}

.btn-accent {
  background-color: var(--accent);

  &:hover {
    background-color: var(--accent-hover);
  }
}

.star-rating {
  padding: 6px 0;
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-flex;
  align-items: center;
  font-size: var(--star-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
